// Footer

.footer {
    background-color: $eerie-black;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .footer__img{
   display: block;
   margin: auto;
   width: 180px;
   height: auto;
  }